<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Personnel_Registration_Application.Properties.Settings.PERSONEL_VERİTABANIConnectionString"
            connectionString="Data Source=DESKTOP-KJPHA09\SQLEXPRESS;Initial Catalog=PERSONEL_VERİTABANI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>